<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>YouTube to Mp3 Converter </title>
</head>

<body>
   

    <!-- Top Container-->
    <div class="top-container">
        <div id="dark-mode-switch">
            <div id="dark-mode-switch-btn" onclick="dark_mode()">
            <p>Mode: <span id="mode-text">Light</span> </p>
              <div id="dark-mode-switch-toggle"></div>
            </div>
          </div>

        <form action="/convert-mp3" method="POST" id="form">
            <h1 id="header_1"><i class="fa-brands fa-youtube"></i>Youtube To Mp3 Converter</h1>
            <h4 style="font-size: 11pt; display: flex; justify-content: center;">Please insert a valid YouTube video URL</h4>
            <div id="input-placeholder">
                <input type="text" name="videoID" placeholder="e.g. https://www.youtube.com/watch?v=videoID"><button id="convert-button">Convert</button>
            </div>
        </form>

    </div>
    

    <!-- Container to show song details and error message-->
    <div class="bottom-container">
        <% if(typeof success != "undefined" && success) { %>
            <div class="success">
                <p><%= song_title %></p>
                <a href="<%= song_link %>"><button id="download-btn">DOWNLOAD</button></a>
            </div>
            <% } else if(typeof success != "undefined" && !success) { %>
                <div class="errors">
                    <p><%= message %></p>
                </div>
            <% } %>
            
    </div>

    <!--Site info container-->

    <!-- FAQ1 -->
    <div id="faq-section">
        <div id="faq-main-header">FAQ</div>
        <div class="faq-container" onclick="toggleAnswer('faq1')">
        <div class="faq-header"  id="faq1">
            <div class="faq-question">What is YouTube To Mp3 Converter?</div>
            <div class="faq-expand-symbol" id="expand-symbol-faq1">+</div>
        </div>
        <div class="faq-answer" id="faq1-answer">
            <p>YouTube.com is the largest video sharing platform on the <br>
                internet. Every day millions of new videos are added. You <br>
                can find all kinds of videos but YouTube does not offer a <br>
                FREE downloading service for these videos <br> <br>
                YouTube To Mp3 Converter allows you to downlaod your favourite YouTube <br>
                videos as MP3 (audio) files in the most efficient way. <br>
                You are able to use YouTube To Mp3 Converter on any device <br>
                it is optimized to work on desktop, tablet and mobile devices. <br>
                There is also no additional software or app needed. <br>
            </p>
        </div>
    </div>
    <!-- FAQ2 -->
        <div class="faq-container" onclick="toggleAnswer('faq2')">
        <div class="faq-header" id="faq2">
            <div class="faq-question">How to downlaod YouTube videos?</div>
            <div class="faq-expand-symbol" id="expand-symbol-faq2">+</div>
        </div>
        <div class="faq-answer" id="faq2-answer">
            <p><b>1.</b> Open YouTube.com and search for the video you <br>
                would like to download. <br><br>
               <b>2.</b> When you find the video, click on it and wait until it <br>
               starts  playing. Then, just copy the video URL from your <br>
               browser address bar.<br><br>
               <b>3.</b> Open <b>YouTube To MP3 Converter</b> and paste the video URL in our <br>
               converter. Then, simply click on the "Convert" button. The <br>
               conversion will be initiated, and may take a few minutes to<br>
               convert your chosen video into an MP3 format. <br>
               We will try to convert the video in the best available <br>
               quality. But be aware that it is only possible to download <br>
               videos that are up to 10 minutes long, to guarantee that <br>
               the conversion will be done within a few minutes. <br><br>
               <b>4.</b> As soon as the convertion of the video is completed <br>
               you will see a "Downlaod" button. Just click on it, and the <br>
               download shall start. Enjoy! <br> 
               
            </p>
        </div>
    </div>
    <!-- FAQ3 -->
        <div class="faq-container" onclick="toggleAnswer('faq3')">
        <div class="faq-header" id="faq3"> 
            <div class="faq-question">Which video platforms are supported?</div>
            <div class="faq-expand-symbol" id="expand-symbol-faq3">+</div>
        </div>
        <div class="faq-answer" id="faq3-answer">
            <p>Our Wev-App supports YouTube. These kinds of YouTube video <br>
                URLs are accepted by our converter: <br><br>
                <b>-</b> youtube.com/watch?v=videoId <br>
                <b>-</b> youtu.be/videoId<br>
                <b>-</b> youtube.com/shorts/videoId <br>
            </p>
        </div>
    </div>
    <!-- FAQ4 -->
    <div class="faq-container" onclick="toggleAnswer('faq4')">
        <div class="faq-header" id="faq4"> 
            <div class="faq-question">Is there a video length limit?</div>
            <div class="faq-expand-symbol" id="expand-symbol-faq4">+</div>
        </div>
        <div class="faq-answer" id="faq4-answer">
            <p>Yes. Is is only posible to download YouTube videos <br>
                with a maximum length of 10 minutes.
            </p>
        </div>
    </div>

    <!-- FAQ5 -->
    <div class="faq-container" onclick="toggleAnswer('faq5')">
        <div class="faq-header" id="faq5"> 
            <div class="faq-question">Where is the mp3 file saved?</div>
            <div class="faq-expand-symbol" id="expand-symbol-faq5">+</div>
        </div>
        <div class="faq-answer" id="faq5-answer">
            <p>You may check your browser settings. There you will <br>
                find the download directory.
            </p>
        </div>
    </div>

    <!-- FAQ6 -->
    <div class="faq-container" onclick="toggleAnswer('faq6')">
        <div class="faq-header" id="faq6"> 
            <div class="faq-question">How to downlaod file on iPhone/iPad?</div>
            <div class="faq-expand-symbol" id="expand-symbol-faq6">+</div>
        </div>
        <div class="faq-answer" id="faq6-answer">
            <p>In case you're using an older iOs version you can <br>
                download the app <b>Documents by Readdle</b> from the <br>
                Apple Store to be able to save files to your device.
            </p>
        </div>
    </div>

    <!-- FAQ7 -->
    <div class="faq-container" onclick="toggleAnswer('faq7')">
        <div class="faq-header" id="faq7"> 
            <div class="faq-question">What if the conversion doesn't start?</div>
            <div class="faq-expand-symbol" id="expand-symbol-faq7">+</div>
        </div>
        <div class="faq-answer" id="faq7-answer">
            <p>Please delete your browser cache and reload the <br>
                site. Should the conversion still not start please send <br>
                us a message using our <b>contact form</b>
            </p>
        </div>
    </div>

    <!-- FAQ8 -->
    <div class="faq-container" onclick="toggleAnswer('faq8')">
        <div class="faq-header" id="faq8"> 
            <div class="faq-question">Why conversion doesn't stop proccessing?</div>
            <div class="faq-expand-symbol" id="expand-symbol-faq8">+</div>
        </div>
        <div class="faq-answer" id="faq8-answer">
            <p>
                In case a message saying "processing" appears, and it doen't stop <br>
                 refresh the page and try converting your video again. <br>
                 This should fix the issue <br>
            </p>
        </div>
    </div>

    <!-- FAQ9 -->
    <div class="faq-container" onclick="toggleAnswer('faq9')">
        <div class="faq-header" id="faq9"> 
            <div class="faq-question">Is there a downlaod limit?</div>
            <div class="faq-expand-symbol" id="expand-symbol-faq9">+</div>
        </div>
        <div class="faq-answer" id="faq9-answer">
            <p>
                Yes. Our app has a limit of 200 downlaods per day <br>
                and that's only to ensure security. <br>
                If the website reaches more traffic, we will allow more <br>
                downloads per day. So share YouTube To Mp3 Converter with friends!
            </p>
        </div>
    </div>

    <!-- FAQ10 -->
    <div class="faq-container" onclick="toggleAnswer('faq10')">
        <div class="faq-header" id="faq10"> 
            <div class="faq-question">What if an error occurs?</div>
            <div class="faq-expand-symbol" id="expand-symbol-faq10">+</div>
        </div>
        <div class="faq-answer" id="faq10-answer">
            <p>
                Please be sure that you do not try to downlaod a <br>
                YouTube video that is a: <br><br>
                <b>-</b> livestream <br>
                <b>-</b> longer than 10 minutes <br>
                <b>-</b> private <br><br>
                If your video does not match any of the above listed <br>
                reasons and you are stil getting an error please <br>
                report it using out <b>contact form</b>
            </p>
        </div>
    </div>

    


    </div><!-- FAQ Container End-->

    

    <hr class="line-section">

    
    <!-- Footer Section-->
    <div id="footer">
        

        <div id="footer-links">
            <a id="contact" class="footer-link">Contact</a>
            <a id="pp" class="footer-link">Privacy Policy</a>
            <a id="tou" class="footer-link">Terms Of Use</a>
        </div>


    </div>

    <!-- Copywrite -->
    <div id="copywrite-statement">&copy: 2024 YouTube To Mp3 Converter and D.T. All Rights Reserved.</div>

    <!--Contact popup-->
    <div id="contact-div" class="popup-div">
            <button type="button" id="close-contact">X</button>
            <h1 id="header_2"><i class="fa-brands fa-youtube"></i>YTMp3 Converter</h1><br><br>
            <!--Contact from to go here-->
            <div id="header_tou"><b>Contact</b></div>
            <div class="contact-info">
                <p>Thank you for using YouTube To Mp3 Converter, a free application to convert YouTube videos to mp3 files. If you have any questions, comments, or concerns, 
                    please do not hesitate to contact us. We are available to assist you with any inquiries you may have. <br><br>
                    You can reach us by e-mail, and we will respond to your inquiry as soon as possible. <br><br>
                    If you have any feedback about our service, we welcome your suggestions and appreciate your input.
                     We are committed to providing you with the best possible YouTube to MP3 Converter experience and appreciate any feedback
                      you can provide to help us improve our service. <br><br>
                    We look forward to hearing from you soon! <br><br><br>
                    <a href="mailto:danielt1621@gmail.com?subject=**YTMP3 Question**" id="contact-mail">CONTACT US</a> <br><br><br>
                    -Author: Daniel Tsavalos</p>
            </div>

            <br> <hr class="line-section">
   
    <!-- Copywrite -->
    <br><div id="copywrite-statement" style="color: white;">&copy: 2024 YouTube To Mp3 Converter and D.T. All Rights Reserved.</div>

      </div><!--Contact Close-->

      <!--Privacy Policy popup-->
    <div id="pp-div" class="popup-div">
        <button type="button" id="close-pp">X</button>
        <h1 id="header_2"><i class="fa-brands fa-youtube"></i>YTMp3 Converter</h1><br><br>
    <div id="tou-section">
        <div id="header_tou"><b>Privacy Policy</b></div>
        <div class="tou_main-text">
            <p>Pursuant to our Terms of Use, this document describes how we treat personal information 
                related to your use of this website and the services offered on and through it, 
                including information you provide when using it. <br><br>
                We expressly and strictly limit use of the Service to adults over 18 years of age or the age
                 of majority in the individual's jurisdiction, whichever is greater. <br>
                  Anyone under this age is strictly forbidden from using the Service. 
                  We do not knowingly seek or collect any personal information or data from persons 
                  who have not attained this age. <br>
            </p>
        </div><br><br>
         <!--PP Section 1-->
        <div class="tou-container" onclick="toggleAnswer('pp1')">
        <div class="tou-header"  id="pp1">
            <div class="tou-question">Data Colleccted</div>
            <div class="tou-expand-symbol" id="expand-symbol-pp1">+</div>
        </div>
        <div class="tou-answer" id="pp1-answer">
            <p>
                <b>Using the Service</b><br>
                When you access the Service, use the search function, convert files or download files, 
                your IP address, country of origin and other non-personal information about 
                your computer or device (such as web requests, browser type, browser language, referring URL, operating system and date and time of requests)
                 may be recorded for log file information, aggregated traffic information and in the event that there is any misappropriation of information and/or content. <br> <br>
                 <b>Usage Information</b><br>
                 We may record information about your usage of the Service such as your search terms,
                  the content you access and download and other statistics. <br><br>
                  <b>Uploaded Content</b><br>
                  Any content that you upload, access or transmit through the Service may be collected by us. <br><br>
                  <b>Correspondences</b><br>
                  We may keep a record of any correspondence between you and us. <br><br>
                  <b>Cookies</b><br>
                  When you use the Service, we may send cookies to your computer to uniquely 
                  identify your browser session. <br> 
                  We may use both session cookies and persistent cookies. <br>

            </p>
        </div>
    </div>

    <!--PP Section 2-->
    <div class="tou-container" onclick="toggleAnswer('pp2')">
        <div class="tou-header"  id="pp2">
            <div class="tou-question">Data Usage</div>
            <div class="tou-expand-symbol" id="expand-symbol-pp2">+</div>
        </div>
        <div class="tou-answer" id="pp2-answer">
            <p>
                We may use your information to provide you with certain features and to create a 
                personalized experience on the Service. <br>
                 We may also use that information to operate, maintain and improve features 
                 and functionality of the Service. 
             <br><br>
            
                We use cookies, web beacons and other information to store information so that you will not
                 have to re-enter it on future visits, provide personalized content and information,
                  monitor the effectiveness of the Service and monitor aggregate metrics such as 
                  the number of visitors and page views (including for use in monitoring visitors from affiliates). <br>
                  They may also be used to provide targeted advertising based on your country of origin and other personal information. 
             <br><br>
            
                We may aggregate your personal information with personal information of other members
                 and users, and disclose such information to advertisers and other third-parties 
                 for marketing and promotional purposes. 
             <br><br>
            
                We may use your information to run promotions, contests, surveys and other features and events. <br>
            </p> 
        </div>
    </div>

    <!--PP Section 3-->
    <div class="tou-container" onclick="toggleAnswer('pp3')">
        <div class="tou-header"  id="pp3">
            <div class="tou-question">Info Disclosures</div>
            <div class="tou-expand-symbol" id="expand-symbol-pp3">+</div>
        </div>
        <div class="tou-answer" id="pp3-answer">
            <p>
                We may be required to release certain data to comply with legal obligations 
                or in order to enforce our Terms of Use and other agreements. <br>
                We may also release certain data to protect the rights, property or safety of us,
                 our users and others. <br> 
                 This includes providing information to other companies or organizations 
                 like the police or governmental authorities for the purposes of protection against 
                 or prosecution of any illegal activity, whether or not it is identified in 
                 the Terms of Use. <br><br>
                 If you upload, access or transmit any illegal or unauthorized material to or through 
                 the Service, or you are suspected of doing such, we may forward all available information 
                 to relevant authorities, including respective copyright owners, without any notice to you. <br>
            </p>
        </div>
    </div>

    <!--PP Section 4-->
    <div class="tou-container" onclick="toggleAnswer('pp4')">
        <div class="tou-header"  id="pp4">
            <div class="tou-question">Misc.</div>
            <div class="tou-expand-symbol" id="expand-symbol-pp4">+</div>
        </div>
        <div class="tou-answer" id="pp4-answer">
            <p>
                While we use commercially reasonable physical, managerial and technical safeguards 
                to secure your information, the transmission of information via the Internet is 
                not completely secure and we cannot ensure or warrant the security of any 
                information or content you transmit to us. Any information or content you transmit
                 to us is done at your own risk. <br>
            </p>
        </div>
    </div>


    </div><!--Privacy popup end-->

   <br> <hr class="line-section">
   
    <!-- Copywrite -->
    <br><div id="copywrite-statement" style="color: white;">&copy: 2024 YouTube To Mp3 Converter and D.T. All Rights Reserved.</div>


  </div><!-- Privacy Policy end-->



  <!--Terms Of Usage popup-->
  <div id="tou-div" class="popup-div">
    <button type="button" id="close-tou">X</button>
    <h1 id="header_2"><i class="fa-brands fa-youtube"></i>YTMp3 Converter</h1><br><br>
    <div id="tou-section">
        <div id="header_tou"><b>Terms Of Use</b></div>
        <div class="tou_main-text">
            <p>Please carefully review this document as it states the terms and conditions upon which Youtube To Mp3 Converter will
            provide service to you on its websites. </p> <br> <p>These terms constitute a contractual agreement betweem 
            you and us. <br> By visiting, accessing, using, the website, you express your understanding and 
            acceptance of these terms. <br> If you do not agree to be bound by these terms, navigate away from 
            the website and cease using it.</p>
        </div><br><br>
         <!--Tou Section 1-->
        <div class="tou-container" onclick="toggleAnswer('tou1')">
        <div class="tou-header"  id="tou1">
            <div class="tou-question">1. Use License</div>
            <div class="tou-expand-symbol" id="expand-symbol-tou1">+</div>
        </div>
        <div class="tou-answer" id="tou1-answer">
            <p>
                Permission is granted to temporarily download one copy of the materials on our's Website for personal,
                 non-commercial transitory viewing only. <br> This is the grant of a license, not a transfer of title, 
                 and under this license you may not: <br> <br>
                    a. modify or copy the materials; <br> <br>
                    b. use the materials for any commercial purpose or for any public display; <br> <br>
                    c. attempt to reverse engineer any software contained on YouTube To Mp3 Converter's Website; <br> <br>
                    d. remove any copyright or other proprietary notations from the materials; <br> <br>
                    e. transferring the materials to another person or "mirror" the materials on any other server. <br> <br>
                This will let us to terminate upon violations of any of these restrictions. <br> Upon termination, your viewing 
                permission will be terminated and you should destroy any downloaded materials in your possession whether it is 
                printed or electronic format. <br>
            </p>
        </div>
    </div>

    <!--Tou Section 2-->
    <div class="tou-container" onclick="toggleAnswer('tou2')">
        <div class="tou-header"  id="tou2">
            <div class="tou-question">2. Disclaimer</div>
            <div class="tou-expand-symbol" id="expand-symbol-tou2">+</div>
        </div>
        <div class="tou-answer" id="tou2-answer">
            <p>
                All the materials on the Website are provided "as is". <br>
                We make no warranties, may it be expressed or implied, therefore negates all other warranties. <br>
                 Furthermore, we do not make any representations concerning the accuracy or reliability of the use of
                 the materials on its Website or otherwise relating to such materials or any sites linked to this Website. <br>
            </p>
        </div>
    </div>

    <!--Tou Section 3-->
    <div class="tou-container" onclick="toggleAnswer('tou3')">
        <div class="tou-header"  id="tou3">
            <div class="tou-question">3. Limitations</div>
            <div class="tou-expand-symbol" id="expand-symbol-tou3">+</div>
        </div>
        <div class="tou-answer" id="tou3-answer">
            <p>
                YouTube To Mp3 Converter or its suppliers will not be hold accountable for any damages
                 that will arise with the use or inability to use the materials on the Website,
                  even if the site or an authorize representative of this Website has been notified, orally or written, of the possibility of such damage. <br>
                 Some jurisdiction does not allow limitations on implied warranties or limitations of liability for incidental damages, these limitations may not apply to you. <br>
            </p>
        </div>
    </div>

    <!--Tou Section 4-->
    <div class="tou-container" onclick="toggleAnswer('tou4')">
        <div class="tou-header"  id="tou4">
            <div class="tou-question">4. Links</div>
            <div class="tou-expand-symbol" id="expand-symbol-tou4">+</div>
        </div>
        <div class="tou-answer" id="tou4-answer">
            <p>
                YouTube To Mp3 Converter has not reviewed all of the sites linked to its Website and is not responsible for the contents of any such linked site. <br>
                 The presence of any link does not imply endorsement by YTMp3 of the site. <br>
                 The use of any linked website is at the user’s own risk. <br>
            </p>
        </div>
    </div>

    <!--Tou Section 5-->
    <div class="tou-container" onclick="toggleAnswer('tou5')">
        <div class="tou-header"  id="tou5">
            <div class="tou-question">5. ToU Modifications</div>
            <div class="tou-expand-symbol" id="expand-symbol-tou5">+</div>
        </div>
        <div class="tou-answer" id="tou5-answer">
            <p>
                YouTube To Mp3 Converter may revise these Terms of Use for its Website at any time without prior notice. <br>
                By using this Website, you are agreeing to be bound by the current version of these Terms and Conditions of Use. <br>
            </p>
        </div>
    </div>

    <!--Tou Section 6-->
    <div class="tou-container" onclick="toggleAnswer('tou6')">
        <div class="tou-header"  id="tou6">
            <div class="tou-question">6. Governing Law</div>
            <div class="tou-expand-symbol" id="expand-symbol-tou6">+</div>
        </div>
        <div class="tou-answer" id="tou6-answer">
            <p>
                Any claim related to this Website shall be governed by the laws of ae without regards to its conflict of law provisions. <br>
            </p>
        </div>
    </div>



    </div><!--Terms Of Use expandable end-->

    <br><hr class="line-section">
    <br><!-- Copywrite -->
    <div id="copywrite-statement" style="color: white;">&copy: 2024 YouTube To Mp3 Converter and D.T. All Rights Reserved.</div>

</div> <!--Terms Of Usage end-->
    
    

    
    
    <script>
    //dark mode    
        function dark_mode() {
            var element = document.body;
            var topContainer = document.getElementsByClassName("top-container")[0]; // access the first (and only) elemnt within the top-container class
            element.classList.toggle("dark-mode");    
            var modeText = document.getElementById("mode-text");
            if (element.classList.contains("dark-mode")) { 
                topContainer.style.backgroundImage = "linear-gradient(326deg, #181818 0%, #91221e 74%)";
                modeText.textContent = "Dark";
                localStorage.setItem("darkMode", "true"); // store the dark mode preference in local storage
            } else {
                topContainer.style.backgroundImage = null; //make it return to it's original color
                modeText.textContent = "Light";
                localStorage.setItem("darkMode", "false"); // store the light mode preference in local storage
            }
        }

        // check the local storage value and set the initial dark mode state
        if (localStorage.getItem("darkMode") === "true") {
        dark_mode();
        }

        //Script for FAQ answers
        function toggleAnswer(faqId){
            var answer = document.getElementById(faqId + '-answer');
            var symbol = document.getElementById('expand-symbol-' + faqId);
            var question = document.getElementById(faqId);
                question.classList.toggle('active');

            if (answer.style.display === 'block'){
                answer.style.display = 'none';
                symbol.innerText = '+';
            } else{
                answer.style.display = 'block';
                symbol.innerText = '-';
            }
        }

        //Script for TOU answers
        function toggleAnswer(touId){
            var answer = document.getElementById(touId + '-answer');
            var symbol = document.getElementById('expand-symbol-' + touId);
            var question = document.getElementById(touId);
                question.classList.toggle('active');

            if (answer.style.display === 'block'){
                answer.style.display = 'none';
                symbol.innerText = '+';
            } else{
                answer.style.display = 'block';
                symbol.innerText = '-';
            }
        }

        //Script for PP answers
        function toggleAnswer(ppId){
            var answer = document.getElementById(ppId + '-answer');
            var symbol = document.getElementById('expand-symbol-' + ppId);
            var question = document.getElementById(ppId);
                question.classList.toggle('active');

            if (answer.style.display === 'block'){
                answer.style.display = 'none';
                symbol.innerText = '+';
            } else{
                answer.style.display = 'block';
                symbol.innerText = '-';
            }
        }



        // show footer pop-up windows
        //contact
        document.getElementById("contact").addEventListener("click", function() {
        document.getElementById("contact-div").style.display = "block";
        document.getElementsByTagName("body")[0].style.overflow = "hidden";
        });

        //privacy policy
        document.getElementById("pp").addEventListener("click", function() {
        document.getElementById("pp-div").style.display = "block";
        document.getElementsByTagName("body")[0].style.overflow = "hidden";
        });

        //terms of usage
        document.getElementById("tou").addEventListener("click", function() {
        document.getElementById("tou-div").style.display = "block";
        document.getElementsByTagName("body")[0].style.overflow = "hidden";
        });


        //close footer pop-up windows
        //contact
        document.getElementById("close-contact").addEventListener("click", function () {
            (document.getElementById("contact-div").style.display === "block") 
                document.getElementById("contact-div").style.display = "none";
                document.getElementsByTagName("body")[0].style.overflow = "auto";
            });

        //privacy policy
        document.getElementById("close-pp").addEventListener("click", function () {
            (document.getElementById("pp-div").style.display === "block") 
                document.getElementById("pp-div").style.display = "none";
                document.getElementsByTagName("body")[0].style.overflow = "auto";
            });

        //terms of usage
        document.getElementById("close-tou").addEventListener("click", function () {
            (document.getElementById("tou-div").style.display === "block") 
                document.getElementById("tou-div").style.display = "none";
                document.getElementsByTagName("body")[0].style.overflow = "auto";
            });

        
        


            
        

    
    </script>

</body>
</html>